In [1]:
#grab annual lrmcB file

In [2]:
# import lib
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from IPython.display import display

In [3]:
df_espnBPI = pd.read_csv('data/espnBPI_L0.csv')

df_teamsIndex = pd.read_csv('../L1/data/teamsIndex_L1.csv')

display(df_espnBPI.head(5))
display(df_espnBPI.info())

,Unnamed: 0,Unnamed: 1,Unnamed: 2,POWER INDEX,PROJECTIONS,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12
0,NaN,NaN,NaN,W-L,BPI,BPI RK,TREND,OFF,DEF,OVR W-L,CONF W-L,WIN CONF%,REM SOS RK
1,Duke,Duke Blue Devils,ACC,31-3,24.8,1,--,13.6,11.1,31.0-3.0,19.0-1.0,>99.9%,-
2,Houston,Houston Cougars,Big 12,30-4,23.8,2,--,10.7,13.1,31.0-4.0,19.0-1.0,>99.9%,62nd
3,Auburn,Auburn Tigers,SEC,28-5,22.3,3,--,12.9,9.4,28.0-5.0,15.0-3.0,>99.9%,-
4,Florida,Florida Gators,SEC,30-4,20.1,4,--,11.6,8.6,31.0-4.0,14.0-4.0,<0.1%,57th

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 365 entries, 0 to 364
Data columns (total 13 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Unnamed: 0   68 non-null     object
 1   Unnamed: 1   364 non-null    object
 2   Unnamed: 2   364 non-null    object
 3   POWER INDEX  365 non-null    object
 4   PROJECTIONS  365 non-null    object
 5   Unnamed: 5   365 non-null    object
 6   Unnamed: 6   365 non-null    object
 7   Unnamed: 7   365 non-null    object
 8   Unnamed: 8   365 non-null    object
 9   Unnamed: 9   365 non-null    object
 10  Unnamed: 10  365 non-null    object
 11  Unnamed: 11  365 non-null    object
 12  Unnamed: 12  365 non-null    object
dtypes: object(13)
memory usage: 37.2+ KB

None

In [4]:
df_espnBPI.rename(columns={'Unnamed: 0': 'Team', 'Unnamed: 5': 'BPI Rank'}, inplace=True)

df_espnBPI = df_espnBPI[['Team', 'BPI Rank']]

# Drop any non-numeric rows (e.g., header row mistakenly included)
df_espnBPI = df_espnBPI[df_espnBPI['BPI Rank'].str.match(r'^\d+(\.\d+)?$', na=False)]

# Strip spaces and convert "KenPom Rank" to float
df_espnBPI['BPI Rank'] = df_espnBPI['BPI Rank'].astype(str).str.strip().astype(float)

df_espnBPI = df_espnBPI.dropna()

display(df_espnBPI.head(5))
display(df_espnBPI.info())

        Team  BPI Rank
1       Duke       1.0
2    Houston       2.0
3     Auburn       3.0
4    Florida       4.0
5  Tennessee       5.0

<class 'pandas.core.frame.DataFrame'>
Index: 68 entries, 1 to 307
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Team      68 non-null     object
 1   BPI Rank  68 non-null     float64
dtypes: float64(1), object(1)
memory usage: 1.6+ KB

None

In [5]:
# Perform a left join on "Team"
df_espnBPI = df_espnBPI.merge(df_teamsIndex, on='Team', how='left')

df_espnBPI = df_espnBPI.drop(columns=['Unnamed: 0'])

# Display the first few rows to verify
print(df_espnBPI.head(5))

        Team  BPI Rank  Index
0       Duke       1.0   6074
1    Houston       2.0   6115
2     Auburn       3.0   6017
3    Florida       4.0   6087
4  Tennessee       5.0   6292

In [6]:
# Convert to csv

df_espnBPI.to_csv("../L1/data/espnBPI_L1.csv")