In [1]:
#analyze file
#grabbed kenPom data from 2014-24 (no 20 / covid)
#looking for correlations in column fields that would predict the elite 8 flag

In [2]:
# import lib
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from IPython.display import display

In [3]:
df_kenPom = pd.read_csv('data/kenPom_L0.csv')

display(df_kenPom.head(5))
display(df_kenPom.info())

,Rk,Team,Elite 8,Seed,Conf,W,L,NetRtg,ORtg,r,...,Luck,r.3,SoSNetRtg,r.4,SoSORtg,r.5,SoSDRtg,r.6,ConfSoSNetRtg,r.7
0,1,Duke,NaN,1.0,ACC,25,3,38.77,128.5,2,...,-0.041,291,9.23,58.0,113.1,39.0,103.9,72.0,9.75,20.0
1,2,Auburn,NaN,1.0,SEC,27,2,37.55,130.8,1,...,0.063,56,17.81,1.0,117.0,2.0,99.2,2.0,10.54,18.0
2,3,Houston,NaN,1.0,B12,24,4,35.88,125,8,...,-0.015,213,12.50,27.0,113.4,37.0,100.9,21.0,2.68,104.0
3,4,Florida,NaN,1.0,SEC,24,4,33.48,126.6,4,...,-0.005,190,11.63,37.0,113.1,42.0,101.4,27.0,-1.30,222.0
4,5,Tennessee,NaN,2.0,SEC,23,5,31.41,118.9,24,...,0.02,129,13.76,14.0,116.0,4.0,102.3,47.0,-0.71,203.0

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 382 entries, 0 to 381
Data columns (total 24 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Rk             373 non-null    object
 1   Team           373 non-null    object
 2   Elite 8        0 non-null      float64
 3   Seed           64 non-null     float64
 4   Conf           373 non-null    object
 5   W              373 non-null    object
 6   L              265 non-null    object
 7   NetRtg         373 non-null    object
 8   ORtg           373 non-null    object
 9   r              382 non-null    object
 10  DRtg           382 non-null    object
 11  r.1            373 non-null    object
 12  AdjT           373 non-null    object
 13  r.2            373 non-null    object
 14  Luck           373 non-null    object
 15  r.3            373 non-null    object
 16  SoSNetRtg      364 non-null    float64
 17  r.4            364 non-null    float64
 18  SoSORtg        364 non-null    float64
 19  r.5            364 non-null    float64
 20  SoSDRtg        364 non-null    float64
 21  r.6            364 non-null    float64
 22  ConfSoSNetRtg  364 non-null    float64
 23  r.7            364 non-null    float64
dtypes: float64(10), object(14)
memory usage: 71.8+ KB

None

In [4]:
# Rename column
df_kenPom.rename(columns={'Rk': 'KenPom Rank'}, inplace=True)

# Keep only the relevant columns
df_kenPom = df_kenPom[['Team', 'KenPom Rank']]

# Drop any non-numeric rows (e.g., header row mistakenly included)
df_kenPom = df_kenPom[df_kenPom['KenPom Rank'].str.match(r'^\d+(\.\d+)?$', na=False)]

# Strip spaces and convert "KenPom Rank" to float
df_kenPom['KenPom Rank'] = df_kenPom['KenPom Rank'].astype(str).str.strip().astype(float)

# Display results
display(df_kenPom.head(5))
display(df_kenPom.info())

        Team  KenPom Rank
0       Duke          1.0
1     Auburn          2.0
2    Houston          3.0
3    Florida          4.0
4  Tennessee          5.0

<class 'pandas.core.frame.DataFrame'>
Index: 364 entries, 0 to 381
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Team         364 non-null    object
 1   KenPom Rank  364 non-null    float64
dtypes: float64(1), object(1)
memory usage: 8.5+ KB

None

In [5]:
# Convert to csv

df_kenPom.to_csv("../L1/data/kenPom_L1.csv")