In [1]:
#analyze file
#grabbed kenPom data from 2014-24 (no 20 / covid)
#looking for correlations in column fields that would predict the elite 8 flag

In [2]:
# import lib
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from IPython.display import display

In [3]:
df_kenPom = pd.read_csv('data/kenPom_analyze_L0.csv')
df_bluePower = pd.read_csv('data/bluePower_L0.csv')

display(df_kenPom.head(5))
display(df_kenPom.info())

display(df_bluePower.head(5))
display(df_bluePower.info())

,Rk,Team,Elite 8,Seed,Conf,W,L,NetRtg,ORtg,r,...,Luck,r.3,SoSNetRtg,r.4,SoSORtg,r.5,SoSDRtg,r.6,ConfSoSNetRtg,r.7
0,1,Louisville 4,NaN,4,Amer,31,6,30.41,118.9,7,...,-0.045,278,4.31,95.0,107.0,100.0,102.7,93.0,-4.65,295.0
1,2,Arizona 1,1.0,1,P12,33,5,30.11,116.5,20,...,0.014,151,9.30,17.0,109.9,20.0,100.6,18.0,1.62,113.0
2,3,Florida 1,1.0,1,SEC,36,3,28.57,116.5,19,...,0.053,68,9.02,22.0,109.4,32.0,100.4,14.0,2.39,94.0
3,4,Virginia 1,NaN,1,ACC,30,7,26.46,114.8,27,...,0.012,154,8.67,28.0,109.4,31.0,100.8,27.0,1.57,114.0
4,5,Wisconsin 2,1.0,2,B10,30,8,25.89,122,4,...,0.019,133,11.44,3.0,110.2,13.0,98.8,2.0,3.33,68.0

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3712 entries, 0 to 3711
Data columns (total 24 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Rk             3630 non-null   object
 1   Team           3630 non-null   object
 2   Elite 8        80 non-null     float64
 3   Seed           3630 non-null   object
 4   Conf           3630 non-null   object
 5   W              3630 non-null   object
 6   L              2610 non-null   object
 7   NetRtg         3630 non-null   object
 8   ORtg           3630 non-null   object
 9   r              3712 non-null   object
 10  DRtg           3712 non-null   object
 11  r.1            3630 non-null   object
 12  AdjT           3630 non-null   object
 13  r.2            3630 non-null   object
 14  Luck           3630 non-null   object
 15  r.3            3630 non-null   object
 16  SoSNetRtg      3548 non-null   float64
 17  r.4            3548 non-null   float64
 18  SoSORtg        3548 non-null   float64
 19  r.5            3548 non-null   float64
 20  SoSDRtg        3548 non-null   float64
 21  r.6            3548 non-null   float64
 22  ConfSoSNetRtg  3548 non-null   float64
 23  r.7            3548 non-null   float64
dtypes: float64(9), object(15)
memory usage: 696.1+ KB

None

           Team  Tournament_Appearances  Fibonacci_Score
0  Michigan St.                      10                8
1        Kansas                      10                8
2       Gonzaga                      10                8
3      Kentucky                       9                8
4        Purdue                       9                8

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 219 entries, 0 to 218
Data columns (total 3 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Team                    219 non-null    object
 1   Tournament_Appearances  219 non-null    int64
 2   Fibonacci_Score         219 non-null    int64
dtypes: int64(2), object(1)
memory usage: 5.3+ KB

None

In [4]:
#drop columns

df_kenPom = df_kenPom.drop(columns=["Rk","L","r","r.1","r.2","r.3","r.4","r.5","r.6","r.7"], errors="ignore")

In [5]:
#for the column "Elite 8", any row value that is NaN should be a 0 and sets all types to int

df_kenPom["Elite 8"] = df_kenPom["Elite 8"].fillna(0).astype(int)

In [6]:
#marks non tourney teams with a seed of 100

# Remove spaces and any non-numeric characters (except for possible decimal points)
df_kenPom["Seed"] = df_kenPom["Seed"].astype(str).str.replace(r"[^\d.]", "", regex=True)

In [7]:
import re

df_kenPom['Team'] = df_kenPom['Team'].apply(lambda x: re.sub(r'\d+$', '', x).strip() if isinstance(x, str) else x)

display(df_kenPom.head(5))
display(df_kenPom.info())

,Team,Elite 8,Seed,Conf,W,NetRtg,ORtg,DRtg,AdjT,Luck,SoSNetRtg,SoSORtg,SoSDRtg,ConfSoSNetRtg
0,Louisville,0,4,Amer,31,30.41,118.9,88.5,67.2,-0.045,4.31,107.0,102.7,-4.65
1,Arizona,1,1,P12,33,30.11,116.5,86.4,62.8,0.014,9.30,109.9,100.6,1.62
2,Florida,1,1,SEC,36,28.57,116.5,88,61.3,0.053,9.02,109.4,100.4,2.39
3,Virginia,0,1,ACC,30,26.46,114.8,88.3,59.5,0.012,8.67,109.4,100.8,1.57
4,Wisconsin,1,2,B10,30,25.89,122,96.1,62.4,0.019,11.44,110.2,98.8,3.33

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3712 entries, 0 to 3711
Data columns (total 14 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Team           3630 non-null   object
 1   Elite 8        3712 non-null   int64
 2   Seed           3712 non-null   object
 3   Conf           3630 non-null   object
 4   W              3630 non-null   object
 5   NetRtg         3630 non-null   object
 6   ORtg           3630 non-null   object
 7   DRtg           3712 non-null   object
 8   AdjT           3630 non-null   object
 9   Luck           3630 non-null   object
 10  SoSNetRtg      3548 non-null   float64
 11  SoSORtg        3548 non-null   float64
 12  SoSDRtg        3548 non-null   float64
 13  ConfSoSNetRtg  3548 non-null   float64
dtypes: float64(4), int64(1), object(9)
memory usage: 406.1+ KB

None

In [8]:
df_kenPom = df_kenPom.merge(df_bluePower, on="Team", how="left")

df_kenPom = df_kenPom.drop(columns=["Tournament_Appearances"])  # Drop column
df_kenPom = df_kenPom.rename(columns={"Fibonacci_Score": "bluePower"})  # Rename column

display(df_kenPom.head(5))
display(df_kenPom.info())

,Team,Elite 8,Seed,Conf,W,NetRtg,ORtg,DRtg,AdjT,Luck,SoSNetRtg,SoSORtg,SoSDRtg,ConfSoSNetRtg,bluePower
0,Louisville,0,4,Amer,31,30.41,118.9,88.5,67.2,-0.045,4.31,107.0,102.7,-4.65,5.0
1,Arizona,1,1,P12,33,30.11,116.5,86.4,62.8,0.014,9.30,109.9,100.6,1.62,8.0
2,Florida,1,1,SEC,36,28.57,116.5,88,61.3,0.053,9.02,109.4,100.4,2.39,8.0
3,Virginia,0,1,ACC,30,26.46,114.8,88.3,59.5,0.012,8.67,109.4,100.8,1.57,8.0
4,Wisconsin,1,2,B10,30,25.89,122,96.1,62.4,0.019,11.44,110.2,98.8,3.33,8.0

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3712 entries, 0 to 3711
Data columns (total 15 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Team           3630 non-null   object
 1   Elite 8        3712 non-null   int64
 2   Seed           3712 non-null   object
 3   Conf           3630 non-null   object
 4   W              3630 non-null   object
 5   NetRtg         3630 non-null   object
 6   ORtg           3630 non-null   object
 7   DRtg           3712 non-null   object
 8   AdjT           3630 non-null   object
 9   Luck           3630 non-null   object
 10  SoSNetRtg      3548 non-null   float64
 11  SoSORtg        3548 non-null   float64
 12  SoSDRtg        3548 non-null   float64
 13  ConfSoSNetRtg  3548 non-null   float64
 14  bluePower      2170 non-null   float64
dtypes: float64(5), int64(1), object(9)
memory usage: 435.1+ KB

None

In [9]:
#columns to float using astype(float

numbers = ["Seed","W","NetRtg","ORtg","DRtg","AdjT","Luck","SoSNetRtg","SoSORtg","SoSDRtg","ConfSoSNetRtg","bluePower"]

df_kenPom[numbers] = df_kenPom[numbers].apply(pd.to_numeric, errors="coerce")

In [10]:
# Replace NaN Seed teams; these didn't make the tournament

df_kenPom = df_kenPom[df_kenPom["Seed"].notna() & (df_kenPom["Seed"] > 0)]

display(df_kenPom.head(5))
display(df_kenPom.info())

,Team,Elite 8,Seed,Conf,W,NetRtg,ORtg,DRtg,AdjT,Luck,SoSNetRtg,SoSORtg,SoSDRtg,ConfSoSNetRtg,bluePower
0,Louisville,0,4.0,Amer,31.0,30.41,118.9,88.5,67.2,-0.045,4.31,107.0,102.7,-4.65,5.0
1,Arizona,1,1.0,P12,33.0,30.11,116.5,86.4,62.8,0.014,9.30,109.9,100.6,1.62,8.0
2,Florida,1,1.0,SEC,36.0,28.57,116.5,88.0,61.3,0.053,9.02,109.4,100.4,2.39,8.0
3,Virginia,0,1.0,ACC,30.0,26.46,114.8,88.3,59.5,0.012,8.67,109.4,100.8,1.57,8.0
4,Wisconsin,1,2.0,B10,30.0,25.89,122.0,96.1,62.4,0.019,11.44,110.2,98.8,3.33,8.0

<class 'pandas.core.frame.DataFrame'>
Index: 892 entries, 0 to 3637
Data columns (total 15 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Team           892 non-null    object
 1   Elite 8        892 non-null    int64
 2   Seed           892 non-null    float64
 3   Conf           892 non-null    object
 4   W              886 non-null    float64
 5   NetRtg         892 non-null    float64
 6   ORtg           892 non-null    float64
 7   DRtg           892 non-null    float64
 8   AdjT           892 non-null    float64
 9   Luck           892 non-null    float64
 10  SoSNetRtg      892 non-null    float64
 11  SoSORtg        892 non-null    float64
 12  SoSDRtg        892 non-null    float64
 13  ConfSoSNetRtg  892 non-null    float64
 14  bluePower      853 non-null    float64
dtypes: float64(12), int64(1), object(2)
memory usage: 111.5+ KB

None

In [11]:
#invert the ranks/seeds, so that higher values are transformed into lower ones, aligning better with their actual value.

#df_kenPom["Rk"] = df_kenPom["Rk"].max() - df_kenPom["Rk"] + 1
df_kenPom["Seed"] = df_kenPom["Seed"].max() - df_kenPom["Seed"] + 1

In [12]:
# wins of 0 should be turned to 12

df_kenPom["W"] = df_kenPom["W"].replace("", 12).fillna(12)

In [13]:
# "Conf" column in df_torvik by replacing 'ind' with 'Ind'

df_kenPom["Conf"] = df_kenPom["Conf"].str.replace(r"^ind$", "Ind", case=False, regex=True)

In [14]:
# one-hot encode the "Conf" column

df_kenPom = pd.get_dummies(df_kenPom, columns=["Conf"], drop_first=False)

In [15]:
#new column named "AdjJOD" at index #7. The value is 1 if "AdjOE" is > 119 and if "AdjDE" is <94. Else the value is 0.

df_kenPom.insert(7, "AdjOD", np.where((df_kenPom["ORtg"] > 116) & (df_kenPom["DRtg"] < 96), 1, 0))

display(df_kenPom.head(5))
display(df_kenPom.info())

,Team,Elite 8,Seed,W,NetRtg,ORtg,DRtg,AdjOD,AdjT,Luck,...,Conf_P12,Conf_Pat,Conf_SB,Conf_SC,Conf_SEC,Conf_SWAC,Conf_Slnd,Conf_Sum,Conf_WAC,Conf_WCC
0,Louisville,0,13.0,31.0,30.41,118.9,88.5,1,67.2,-0.045,...,False,False,False,False,False,False,False,False,False,False
1,Arizona,1,16.0,33.0,30.11,116.5,86.4,1,62.8,0.014,...,True,False,False,False,False,False,False,False,False,False
2,Florida,1,16.0,36.0,28.57,116.5,88.0,1,61.3,0.053,...,False,False,False,False,True,False,False,False,False,False
3,Virginia,0,16.0,30.0,26.46,114.8,88.3,0,59.5,0.012,...,False,False,False,False,False,False,False,False,False,False
4,Wisconsin,1,15.0,30.0,25.89,122.0,96.1,0,62.4,0.019,...,False,False,False,False,False,False,False,False,False,False

<class 'pandas.core.frame.DataFrame'>
Index: 892 entries, 0 to 3637
Data columns (total 47 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Team           892 non-null    object
 1   Elite 8        892 non-null    int64
 2   Seed           892 non-null    float64
 3   W              892 non-null    float64
 4   NetRtg         892 non-null    float64
 5   ORtg           892 non-null    float64
 6   DRtg           892 non-null    float64
 7   AdjOD          892 non-null    int64
 8   AdjT           892 non-null    float64
 9   Luck           892 non-null    float64
 10  SoSNetRtg      892 non-null    float64
 11  SoSORtg        892 non-null    float64
 12  SoSDRtg        892 non-null    float64
 13  ConfSoSNetRtg  892 non-null    float64
 14  bluePower      853 non-null    float64
 15  Conf_A10       892 non-null    bool
 16  Conf_ACC       892 non-null    bool
 17  Conf_AE        892 non-null    bool
 18  Conf_ASun      892 non-null    bool
 19  Conf_Amer      892 non-null    bool
 20  Conf_B10       892 non-null    bool
 21  Conf_B12       892 non-null    bool
 22  Conf_BE        892 non-null    bool
 23  Conf_BSky      892 non-null    bool
 24  Conf_BSth      892 non-null    bool
 25  Conf_BW        892 non-null    bool
 26  Conf_CAA       892 non-null    bool
 27  Conf_CUSA      892 non-null    bool
 28  Conf_Horz      892 non-null    bool
 29  Conf_Ivy       892 non-null    bool
 30  Conf_MAAC      892 non-null    bool
 31  Conf_MAC       892 non-null    bool
 32  Conf_MEAC      892 non-null    bool
 33  Conf_MVC       892 non-null    bool
 34  Conf_MWC       892 non-null    bool
 35  Conf_NEC       892 non-null    bool
 36  Conf_OVC       892 non-null    bool
 37  Conf_P12       892 non-null    bool
 38  Conf_Pat       892 non-null    bool
 39  Conf_SB        892 non-null    bool
 40  Conf_SC        892 non-null    bool
 41  Conf_SEC       892 non-null    bool
 42  Conf_SWAC      892 non-null    bool
 43  Conf_Slnd      892 non-null    bool
 44  Conf_Sum       892 non-null    bool
 45  Conf_WAC       892 non-null    bool
 46  Conf_WCC       892 non-null    bool
dtypes: bool(32), float64(12), int64(2), object(1)
memory usage: 139.4+ KB

None

In [16]:
#swap T/F with 1/0

CONF = ["Conf_A10","Conf_ACC","Conf_AE","Conf_ASun","Conf_Amer","Conf_B10","Conf_B12","Conf_BE","Conf_BSky","Conf_BSth","Conf_BW","Conf_CAA","Conf_CUSA","Conf_Horz","Conf_Ivy","Conf_MAAC","Conf_MAC","Conf_MEAC","Conf_MVC","Conf_MWC","Conf_NEC","Conf_OVC","Conf_P12","Conf_Pat","Conf_SB","Conf_SC","Conf_SEC","Conf_SWAC","Conf_Slnd","Conf_Sum","Conf_WAC","Conf_WCC"]

df_kenPom[CONF] = df_kenPom[CONF].astype(int)

In [17]:
#To apply a log transformation to columns

df_kenPom[numbers] = np.log(df_kenPom[numbers] + 1)

/opt/anaconda3/lib/python3.12/site-packages/pandas/core/internals/blocks.py:393: RuntimeWarning: divide by zero encountered in log
  result = func(self.values, **kwargs)
/opt/anaconda3/lib/python3.12/site-packages/pandas/core/internals/blocks.py:393: RuntimeWarning: invalid value encountered in log
  result = func(self.values, **kwargs)

In [18]:
#replace NaN values in the specified columns with 0 

df_kenPom[["NetRtg", "SoSNetRtg", "ConfSoSNetRtg"]] = df_kenPom[["NetRtg", "SoSNetRtg", "ConfSoSNetRtg"]].fillna(0)

In [19]:
display(df_kenPom.head(5))
display(df_kenPom.info())

,Team,Elite 8,Seed,W,NetRtg,ORtg,DRtg,AdjOD,AdjT,Luck,...,Conf_P12,Conf_Pat,Conf_SB,Conf_SC,Conf_SEC,Conf_SWAC,Conf_Slnd,Conf_Sum,Conf_WAC,Conf_WCC
0,Louisville,0,2.639057,3.465736,3.447126,4.786658,4.494239,1,4.222445,-0.046044,...,0,0,0,0,0,0,0,0,0,0
1,Arizona,1,2.833213,3.526361,3.437529,4.766438,4.470495,1,4.155753,0.013903,...,1,0,0,0,0,0,0,0,0,0
2,Florida,1,2.833213,3.610918,3.386760,4.766438,4.488636,1,4.131961,0.051643,...,0,0,0,0,1,0,0,0,0,0
3,Virginia,0,2.833213,3.433987,3.312730,4.751865,4.492001,0,4.102643,0.011929,...,0,0,0,0,0,0,0,0,0,0
4,Wisconsin,1,2.772589,3.433987,3.291754,4.812184,4.575741,0,4.149464,0.018822,...,0,0,0,0,0,0,0,0,0,0

<class 'pandas.core.frame.DataFrame'>
Index: 892 entries, 0 to 3637
Data columns (total 47 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Team           892 non-null    object
 1   Elite 8        892 non-null    int64
 2   Seed           892 non-null    float64
 3   W              892 non-null    float64
 4   NetRtg         892 non-null    float64
 5   ORtg           892 non-null    float64
 6   DRtg           892 non-null    float64
 7   AdjOD          892 non-null    int64
 8   AdjT           892 non-null    float64
 9   Luck           892 non-null    float64
 10  SoSNetRtg      892 non-null    float64
 11  SoSORtg        892 non-null    float64
 12  SoSDRtg        892 non-null    float64
 13  ConfSoSNetRtg  892 non-null    float64
 14  bluePower      853 non-null    float64
 15  Conf_A10       892 non-null    int64
 16  Conf_ACC       892 non-null    int64
 17  Conf_AE        892 non-null    int64
 18  Conf_ASun      892 non-null    int64
 19  Conf_Amer      892 non-null    int64
 20  Conf_B10       892 non-null    int64
 21  Conf_B12       892 non-null    int64
 22  Conf_BE        892 non-null    int64
 23  Conf_BSky      892 non-null    int64
 24  Conf_BSth      892 non-null    int64
 25  Conf_BW        892 non-null    int64
 26  Conf_CAA       892 non-null    int64
 27  Conf_CUSA      892 non-null    int64
 28  Conf_Horz      892 non-null    int64
 29  Conf_Ivy       892 non-null    int64
 30  Conf_MAAC      892 non-null    int64
 31  Conf_MAC       892 non-null    int64
 32  Conf_MEAC      892 non-null    int64
 33  Conf_MVC       892 non-null    int64
 34  Conf_MWC       892 non-null    int64
 35  Conf_NEC       892 non-null    int64
 36  Conf_OVC       892 non-null    int64
 37  Conf_P12       892 non-null    int64
 38  Conf_Pat       892 non-null    int64
 39  Conf_SB        892 non-null    int64
 40  Conf_SC        892 non-null    int64
 41  Conf_SEC       892 non-null    int64
 42  Conf_SWAC      892 non-null    int64
 43  Conf_Slnd      892 non-null    int64
 44  Conf_Sum       892 non-null    int64
 45  Conf_WAC       892 non-null    int64
 46  Conf_WCC       892 non-null    int64
dtypes: float64(12), int64(34), object(1)
memory usage: 334.5+ KB

None

In [20]:
df_kenPom['bluePower_NetRtg'] = df_kenPom['bluePower'] * df_kenPom['NetRtg']
df_kenPom['bluePower_Seed'] = df_kenPom['bluePower'] * df_kenPom['Seed']

# Display the updated df_torvik with the new interaction feature
display(df_kenPom[['Team', 'bluePower', 'NetRtg', 'bluePower_NetRtg']].head())
display(df_kenPom[['Team', 'bluePower', 'Seed', 'bluePower_Seed']].head())

         Team  bluePower    NetRtg  bluePower_NetRtg
0  Louisville   1.791759  3.447126          6.176421
1     Arizona   2.197225  3.437529          7.553024
2     Florida   2.197225  3.386760          7.441473
3    Virginia   2.197225  3.312730          7.278813
4   Wisconsin   2.197225  3.291754          7.232724

         Team  bluePower      Seed  bluePower_Seed
0  Louisville   1.791759  2.639057        4.728556
1     Arizona   2.197225  2.833213        6.225206
2     Florida   2.197225  2.833213        6.225206
3    Virginia   2.197225  2.833213        6.225206
4   Wisconsin   2.197225  2.772589        6.092000

In [21]:
# Convert to csv

df_kenPom.to_csv("../L1/data/kenPom_analyze_L1.csv")