In [1]:
#grab annual lrmcB file

In [2]:
# import lib
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from IPython.display import display

In [3]:
df_lrmcB = pd.read_csv('data/lrmcB_predict_L0.csv')

df_teamsIndex = pd.read_csv('../L1/data/teamsIndex_L1.csv')

display(df_lrmcB.head(5))
display(df_lrmcB.info())

,Through games of 3/16/2025,Unnamed: 1,All games (vs. Div. I opponents),Unnamed: 3,Regulation wins,Regulation losses,Overtime,Unnamed: 7,Home,Road,...,vs..5,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,201+,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,LRMC Rank,Team,Conference,NaN,Win/Loss,Avg. Opp. Rank,NaN,Avg. Opp. Rank,Avg. Opp. Rank,...,Avg. Opp. Rank,Win/Loss,Avg. Opp. Rank,NaN,Win/Loss,Win/Loss,Win/Loss,Win/Loss,Win/Loss,Win/Loss
2,NaN,NaN,NaN,NaN,NaN,Record,NaN,NaN,NaN,NaN,...,NaN,Record,NaN,NaN,Record,Record,Record,Record,Record,Record
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,1,Duke,Atlantic Coast,NaN,31-3,96,NaN,103,16,...,90,2-Sep,108,NaN,3-May,Mar-00,3-Aug,Aug-00,13-0,Feb-00

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 838 entries, 0 to 837
Data columns (total 30 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Through games of 3/16/2025        0 non-null      float64
 1   Unnamed: 1                        400 non-null    object
 2   All games (vs. Div. I opponents)  382 non-null    object
 3   Unnamed: 3                        400 non-null    object
 4   Regulation wins                   0 non-null      float64
 5   Regulation losses                 782 non-null    object
 6   Overtime                          400 non-null    object
 7   Unnamed: 7                        18 non-null     object
 8   Home                              382 non-null    object
 9   Road                              400 non-null    object
 10  Neutral1                          400 non-null    object
 11  Unnamed: 11                       18 non-null     object
 12  Conference2                       764 non-null    object
 13  Non-Conference2                   400 non-null    object
 14  Unnamed: 14                       782 non-null    object
 15  vs.                               383 non-null    object
 16  vs..1                             801 non-null    object
 17  vs..2                             419 non-null    object
 18  vs..3                             37 non-null     object
 19  vs..4                             801 non-null    object
 20  vs..5                             419 non-null    object
 21  Unnamed: 21                       800 non-null    object
 22  Unnamed: 22                       382 non-null    object
 23  Unnamed: 23                       0 non-null      float64
 24  Unnamed: 24                       764 non-null    object
 25  Unnamed: 25                       764 non-null    object
 26  Unnamed: 26                       764 non-null    object
 27  Unnamed: 27                       764 non-null    object
 28  Unnamed: 28                       764 non-null    object
 29  Unnamed: 29                       764 non-null    object
dtypes: float64(3), object(27)
memory usage: 196.5+ KB

None

In [4]:
df_lrmcB.rename(columns={'Unnamed: 1': 'LRMC B Rank'}, inplace=True)
df_lrmcB.rename(columns={'All games (vs. Div. I opponents)': 'Team'}, inplace=True)
df_lrmcB = df_lrmcB[['Team', 'LRMC B Rank']]

In [5]:
df_lrmcB = df_lrmcB.dropna(subset=['Team'])
df_lrmcB = df_lrmcB[df_lrmcB['Team'] != 'Team']
df_lrmcB['Team'] = df_lrmcB['Team'].str.replace('_St', '_St.', regex=False)
df_lrmcB['Team'] = df_lrmcB['Team'].str.replace('_', ' ')

df_lrmcB['LRMC B Rank'] = df_lrmcB['LRMC B Rank'].astype(float)

display(df_lrmcB.head(5))
display(df_lrmcB.info())

       Team  LRMC B Rank
4      Duke          1.0
6   Florida          2.0
8    Auburn          3.0
10  Houston          4.0
12  Gonzaga          5.0

<class 'pandas.core.frame.DataFrame'>
Index: 363 entries, 4 to 836
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Team         363 non-null    object
 1   LRMC B Rank  363 non-null    float64
dtypes: float64(1), object(1)
memory usage: 8.5+ KB

None

In [6]:
# Perform a left join on "Team"
df_lrmcB = df_lrmcB.merge(df_teamsIndex, on='Team', how='left')

df_lrmcB = df_lrmcB.drop(columns=['Unnamed: 0'])

# Display the first few rows to verify
print(df_lrmcB.head(5))

      Team  LRMC B Rank   Index
0     Duke          1.0  6074.0
1  Florida          2.0  6087.0
2   Auburn          3.0  6017.0
3  Houston          4.0  6115.0
4  Gonzaga          5.0  6104.0

In [7]:
# Convert to csv

df_lrmcB.to_csv("../L1/data/lrmcB_L1.csv")