In [1]:
#grab annual lrmcB file

In [2]:
# import lib
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from IPython.display import display

In [3]:
df_powerRank = pd.read_csv('data/powerRank_L0.csv')

df_teamsIndex = pd.read_csv('../L1/data/teamsIndex_L1.csv')

display(df_powerRank.head(5))
display(df_powerRank.info())

   Rank              Team  Rating
0     1    Florida (30-4)   23.79
1     2       Duke (31-3)   21.45
2     3     Auburn (28-5)   21.32
3     4    Houston (30-4)   19.13
4     5  Tennessee (27-7)   19.10

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 364 entries, 0 to 363
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Rank    364 non-null    int64
 1   Team    364 non-null    object
 2   Rating  364 non-null    float64
dtypes: float64(1), int64(1), object(1)
memory usage: 8.7+ KB

None

In [4]:
df_powerRank[['Team', 'Record']] = df_powerRank['Team'].str.extract(r'(.+?)\s*\((\d+-\d+)\)')

df_powerRank = df_powerRank.drop(columns=['Rating', 'Record'])

df_powerRank.rename(columns={'Rank': 'PowerRank Rank'}, inplace=True)

display(df_powerRank.head(5))
display(df_powerRank.info())

   PowerRank Rank       Team
0               1    Florida
1               2       Duke
2               3     Auburn
3               4    Houston
4               5  Tennessee

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 364 entries, 0 to 363
Data columns (total 2 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   PowerRank Rank  364 non-null    int64
 1   Team            364 non-null    object
dtypes: int64(1), object(1)
memory usage: 5.8+ KB

None

In [5]:
# Perform a left join on "Team"
df_powerRank = df_powerRank.merge(df_teamsIndex, on='Team', how='left')

df_powerRank = df_powerRank.drop(columns=['Unnamed: 0'])

# Display the first few rows to verify
print(df_powerRank.head(5))

   PowerRank Rank       Team   Index
0               1    Florida  6087.0
1               2       Duke  6074.0
2               3     Auburn  6017.0
3               4    Houston  6115.0
4               5  Tennessee  6292.0

In [6]:
# Convert to csv

df_powerRank.to_csv("../L1/data/powerRank_L1.csv")