In [1]:
#grab annual lrmcB file

In [2]:
# import lib
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from IPython.display import display

In [3]:
df_teamsIndex = pd.read_csv('data/teamsIndex_L0.csv')

display(df_teamsIndex.head(5))
display(df_teamsIndex.info())

                Team  Index
0  Abilene Christian   6001
1          Air Force   6002
2              Akron   6003
3            Alabama   6004
4        Alabama A&M   6005

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 460 entries, 0 to 459
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Team    460 non-null    object
 1   Index   460 non-null    int64
dtypes: int64(1), object(1)
memory usage: 7.3+ KB

None

In [4]:
# Convert to csv

df_teamsIndex.to_csv("../L1/data/teamsIndex_L1.csv")