In [1]:
#merging data sources to the Golden Ratio

In [2]:
# import lib
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from IPython.display import display

In [3]:
df_actualsSmoother = pd.read_csv('data/actualsSmoother_L1.csv')

display(df_actualsSmoother.head(5))
display(df_actualsSmoother.info())

   Unnamed: 0  Seed            Team   Index  Projected  Actual
0           0   1.0     Connecticut  6057.0        6.0    42.0
1           1   1.0         Houston  6115.0       14.4     6.0
2           2   1.0  North Carolina  6206.0        9.6     6.0
3           3   1.0          Purdue  6241.0       30.0    30.0
4           4   2.0      Iowa State  6128.0       12.0     6.0

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 687 entries, 0 to 686
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  687 non-null    int64
 1   Seed        682 non-null    float64
 2   Team        685 non-null    object
 3   Index       124 non-null    float64
 4   Projected   682 non-null    float64
 5   Actual      681 non-null    float64
dtypes: float64(4), int64(1), object(1)
memory usage: 32.3+ KB

None

In [4]:
df_actualsSmoother = df_actualsSmoother.drop(columns=['Unnamed: 0'])
display(df_actualsSmoother.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 687 entries, 0 to 686
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Seed       682 non-null    float64
 1   Team       685 non-null    object
 2   Index      124 non-null    float64
 3   Projected  682 non-null    float64
 4   Actual     681 non-null    float64
dtypes: float64(4), object(1)
memory usage: 27.0+ KB

None

In [5]:
# Group by "Seed" and calculate sum of "Projected" and "Actual", and count occurrences
df_seed_ratio = df_actualsSmoother.groupby('Seed').agg({'Projected': 'sum', 'Actual': 'sum', 'Seed': 'count'}).rename(columns={'Seed': 'n'}).reset_index()

# Compute the new metric: (Actual - Projected) / n and rename it to "smoothPtsT"
df_seed_ratio['smoothPtsT'] = (df_seed_ratio['Actual'] - df_seed_ratio['Projected']) / df_seed_ratio['n']

# Display the resulting DataFrame
print(df_seed_ratio.head())  # Print first few rows

   Seed  Projected  Actual   n  smoothPtsT
0   1.0     902.55   718.0  44   -4.194318
1   2.0     607.71   370.0  44   -5.402500
2   3.0     323.21   301.0  44   -0.504773
3   4.0     317.42   308.0  44   -0.214091
4   5.0     174.19   202.0  44    0.632045

In [6]:
df_seed_ratio = df_seed_ratio[['Seed', 'smoothPtsT']]

# Display the resulting DataFrame
print(df_seed_ratio.head(20))  # Print first few rows

    Seed  smoothPtsT
0    1.0   -4.194318
1    2.0   -5.402500
2    3.0   -0.504773
3    4.0   -0.214091
4    5.0    0.632045
5    6.0   -1.074545
6    7.0    3.716364
7    8.0    3.085000
8    9.0    1.924545
9   10.0    0.401304
10  11.0    3.981311
11  12.0    2.695652
12  13.0    1.296667
13  14.0    1.324773
14  15.0    3.204545

In [7]:
# Convert to csv

df_seed_ratio.to_csv("../L2/data/actualsSmoother_L2.csv")