In [1]:
#merging data sources to the Golden Ratio

In [2]:
# import lib
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from IPython.display import display, Markdown

In [3]:
df_calcuttaNATOR = pd.read_csv('data/calcuttaNATOR_L1.csv')
df_actualsSmoother = pd.read_csv('../L2/data/actualsSmoother_L2.csv')
df_calcuttaValueHistory = pd.read_csv('data/calcuttaValueHistory_L1.csv')
df_drafted = pd.read_csv('data/drafted_L1.csv')
df_VEGsemble = pd.read_csv("../L2/data/barttorvik_VEGsemblePredict2025_L2.csv")

display(df_calcuttaNATOR.head(5))
display(df_calcuttaNATOR.info())

display(df_actualsSmoother.info())
display(df_calcuttaValueHistory.info())

display(df_drafted.head(5))
display(df_drafted.info())

display(df_VEGsemble.head(5))
display(df_VEGsemble.info())

   Unnamed: 0  Seed       Team  Golden Ratio  VEGsemble
0           0     1       Duke            20         30
1           1     1     Auburn            20         20
2           2     1    Florida            30         42
3           3     1    Houston            42          6
4           4     2  Tennessee            12          6

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 68 entries, 0 to 67
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0    68 non-null     int64
 1   Seed          68 non-null     int64
 2   Team          68 non-null     object
 3   Golden Ratio  68 non-null     int64
 4   VEGsemble     68 non-null     int64
dtypes: int64(4), object(1)
memory usage: 2.8+ KB

None

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15 entries, 0 to 14
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  15 non-null     int64
 1   Seed        15 non-null     float64
 2   smoothPtsT  15 non-null     float64
dtypes: float64(2), int64(1)
memory usage: 492.0 bytes

None

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18 entries, 0 to 17
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Unnamed: 0      18 non-null     int64
 1   Year            18 non-null     int64
 2   Entrants        18 non-null     int64
 3   Winning Pts     18 non-null     int64
 4   Winning Cash    18 non-null     float64
 5   Win $/Pt        18 non-null     float64
 6   $/Pt/Entrant    18 non-null     float64
 7   Total Points    18 non-null     int64
 8   Total Cash      18 non-null     float64
 9   $/Pt            18 non-null     float64
 10  $/Pt/Entrant.1  18 non-null     float64
dtypes: float64(6), int64(5)
memory usage: 1.7 KB

None

             Team
0  North Carolina
1        Missouri
2      St. John's
3          Auburn
4  Michigan State

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 56 entries, 0 to 55
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Team    56 non-null     object
dtypes: object(1)
memory usage: 580.0+ bytes

None

   Unnamed: 0       Team  Ensemble_Prob  Vegas_Prob  VEGsemble_Prob
0           0       Duke       0.790778      0.7368        0.771885
1           3     Auburn       0.728411      0.6774        0.710557
2           5    Florida       0.711479      0.7059        0.709526
3           1  Tennessee       0.754702      0.5000        0.665557
4           4    Alabama       0.724735      0.4545        0.630153

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 68 entries, 0 to 67
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Unnamed: 0      68 non-null     int64
 1   Team            68 non-null     object
 2   Ensemble_Prob   68 non-null     float64
 3   Vegas_Prob      68 non-null     float64
 4   VEGsemble_Prob  68 non-null     float64
dtypes: float64(3), int64(1), object(1)
memory usage: 2.8+ KB

None

In [4]:
df_calcuttaNATOR = df_calcuttaNATOR.drop(columns=['Unnamed: 0'])
df_actualsSmoother = df_actualsSmoother.drop(columns=['Unnamed: 0'])
df_calcuttaValueHistory = df_calcuttaValueHistory.drop(columns=['Unnamed: 0'])
df_VEGsemble = df_VEGsemble.drop(columns=['Unnamed: 0'])

In [5]:
# Compute "Avg" as the weighted average of "Golden Ratio" and "VEGsemble"
df_calcuttaNATOR['Avg'] = (df_calcuttaNATOR['Golden Ratio'] * 0.4) + (df_calcuttaNATOR['VEGsemble'] * 0.6)

In [6]:
df_calcuttaNATOR = df_calcuttaNATOR.merge(df_actualsSmoother, on='Seed', how='left')
#df_goldenRatio = df_goldenRatio.merge(df_kenPom, on='Team', how='left')
#df_goldenRatio = df_goldenRatio.merge(df_espnBPI, on='Team', how='left')
#df_goldenRatio = df_goldenRatio.merge(df_lrmcB, on='Team', how='left')
#df_goldenRatio = df_goldenRatio.merge(df_lrmcC, on='Team', how='left')

display(df_calcuttaNATOR.head(5))
display(df_calcuttaNATOR.info())

   Seed       Team  Golden Ratio  VEGsemble   Avg  smoothPtsT
0     1       Duke            20         30  26.0   -4.194318
1     1     Auburn            20         20  20.0   -4.194318
2     1    Florida            30         42  37.2   -4.194318
3     1    Houston            42          6  20.4   -4.194318
4     2  Tennessee            12          6   8.4   -5.402500

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 68 entries, 0 to 67
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Seed          68 non-null     int64
 1   Team          68 non-null     object
 2   Golden Ratio  68 non-null     int64
 3   VEGsemble     68 non-null     int64
 4   Avg           68 non-null     float64
 5   smoothPtsT    62 non-null     float64
dtypes: float64(2), int64(3), object(1)
memory usage: 3.3+ KB

None

In [7]:
# Replace NaN values in "smoothPtsT" with 0
df_calcuttaNATOR['smoothPtsT'] = df_calcuttaNATOR['smoothPtsT'].fillna(0)

In [8]:
# Compute "AdjAvg" as the sum of "Avg" and "smoothPtsT"
df_calcuttaNATOR['AdjAvg'] = df_calcuttaNATOR['Avg'] + df_calcuttaNATOR['smoothPtsT']

# Display the first few rows
display(df_calcuttaNATOR.head())

   Seed       Team  Golden Ratio  VEGsemble   Avg  smoothPtsT     AdjAvg
0     1       Duke            20         30  26.0   -4.194318  21.805682
1     1     Auburn            20         20  20.0   -4.194318  15.805682
2     1    Florida            30         42  37.2   -4.194318  33.005682
3     1    Houston            42          6  20.4   -4.194318  16.205682
4     2  Tennessee            12          6   8.4   -5.402500   2.997500

In [9]:
# Compute the sum of the "Avg" column
sumAvg = df_calcuttaNATOR['Avg'].sum()
# Display the result
print("sumAvg:", sumAvg)

# Compute the sum of the "Avg" column
sumAdjAvg = df_calcuttaNATOR['AdjAvg'].sum()
# Display the result
print("sumAdjAvg:", sumAdjAvg)

# Compute the average of the "Total Points" column
avgHistoryTotalPts = df_calcuttaValueHistory['Total Points'].mean()
# Display the result
print("avgHistoryTotalPts:", avgHistoryTotalPts)

sumAvg: 275.0
sumAdjAvg: 326.450543424264
avgHistoryTotalPts: 324.8333333333333

In [10]:
# Compute "histAdjAvg" based on the given formula
#df_calcuttaNATOR['histAdjAvg'] = ((((avgHistoryTotalPts - sumAvg) / sumAvg) + 1) * df_calcuttaNATOR['AdjAvg'])
#df_calcuttaNATOR['histAdjAvg'] = ((((avgHistoryTotalPts - sumAvg) / sumAvg) + 1) * df_calcuttaNATOR['AdjAvg'])

historicalRatio = avgHistoryTotalPts / sumAdjAvg
df_calcuttaNATOR['histAdjAvg'] =  historicalRatio * df_calcuttaNATOR['AdjAvg']

# Compute the sum of the "Avg" column
sumHistAdjAvg = df_calcuttaNATOR['histAdjAvg'].sum()

# Display the result
print("histAdjAvg:", sumHistAdjAvg)

# Display the first few rows
display(df_calcuttaNATOR.head())

histAdjAvg: 324.8333333333333

,Seed,Team,Golden Ratio,VEGsemble,Avg,smoothPtsT,AdjAvg,histAdjAvg
0,1,Duke,20,30,26.0,-4.194318,21.805682,21.697658
1,1,Auburn,20,20,20.0,-4.194318,15.805682,15.727382
2,1,Florida,30,42,37.2,-4.194318,33.005682,32.842174
3,1,Houston,42,6,20.4,-4.194318,16.205682,16.125400
4,2,Tennessee,12,6,8.4,-5.402500,2.997500,2.982651

In [11]:
# Assign "Floor" as "histAdjAvg"
df_calcuttaNATOR['Floor'] = df_calcuttaNATOR['histAdjAvg']

# Assign "Ceiling" as "histAdjAvg" * 2
df_calcuttaNATOR['Ceiling'] = df_calcuttaNATOR['histAdjAvg'] * 2

# Display the first few rows
display(df_calcuttaNATOR.head())

,Seed,Team,Golden Ratio,VEGsemble,Avg,smoothPtsT,AdjAvg,histAdjAvg,Floor,Ceiling
0,1,Duke,20,30,26.0,-4.194318,21.805682,21.697658,21.697658,43.395316
1,1,Auburn,20,20,20.0,-4.194318,15.805682,15.727382,15.727382,31.454763
2,1,Florida,30,42,37.2,-4.194318,33.005682,32.842174,32.842174,65.684349
3,1,Houston,42,6,20.4,-4.194318,16.205682,16.125400,16.125400,32.250800
4,2,Tennessee,12,6,8.4,-5.402500,2.997500,2.982651,2.982651,5.965301

In [12]:
# Ensure df_VEGsemble has the necessary column and merge on "Team"
if 'VEGsemble_Prob' in df_VEGsemble.columns:
    df_calcuttaNATOR = df_calcuttaNATOR.merge(df_VEGsemble[['Team', 'VEGsemble_Prob']], on='Team', how='left')

# Create "VEGsemble Q" with quartiles, ensuring Q1 is the highest quartile
df_calcuttaNATOR['VEGsemble Q'] = pd.qcut(
    df_calcuttaNATOR['VEGsemble_Prob'], 
    q=8, 
    labels=['Q8', 'Q7', 'Q6', 'Q5','Q4','Q3', 'Q2', 'Q1']  # Highest values get "Q1"
)

# Create a new column for the rank of "VEGsemble_Prob" in df_calcuttaNATOR
df_calcuttaNATOR['VEGsemble_Prob Rank'] = df_calcuttaNATOR['VEGsemble_Prob'].rank(ascending=False, method='min')


# Define the desired column order
new_column_order = [
    'Seed', 'Team', 'VEGsemble_Prob Rank', 'VEGsemble_Prob', 'VEGsemble Q', 'Golden Ratio', 'VEGsemble', 
    'Avg', 'smoothPtsT', 'AdjAvg', 'histAdjAvg', 'Floor', 'Ceiling'
]

# Reorder the columns in df_calcuttaNATOR
df_calcuttaNATOR = df_calcuttaNATOR[new_column_order]

# Display the first few rows
display(df_calcuttaNATOR.head(5))

,Seed,Team,VEGsemble_Prob Rank,VEGsemble_Prob,VEGsemble Q,Golden Ratio,VEGsemble,Avg,smoothPtsT,AdjAvg,histAdjAvg,Floor,Ceiling
0,1,Duke,1.0,0.771885,Q1,20,30,26.0,-4.194318,21.805682,21.697658,21.697658,43.395316
1,1,Auburn,2.0,0.710557,Q1,20,20,20.0,-4.194318,15.805682,15.727382,15.727382,31.454763
2,1,Florida,3.0,0.709526,Q1,30,42,37.2,-4.194318,33.005682,32.842174,32.842174,65.684349
3,1,Houston,7.0,0.623961,Q1,42,6,20.4,-4.194318,16.205682,16.125400,16.125400,32.250800
4,2,Tennessee,4.0,0.665557,Q1,12,6,8.4,-5.402500,2.997500,2.982651,2.982651,5.965301

In [13]:
# Filter rows where "VEGsemble_Prob" is NaN in df_calcuttaNATOR
df_calcuttaNATOR_nan_vegsemble = df_calcuttaNATOR[df_calcuttaNATOR['VEGsemble_Prob'].isna()]

# Display the first few rows
display(df_calcuttaNATOR_nan_vegsemble)

Empty DataFrame
Columns: [Seed, Team, VEGsemble_Prob Rank, VEGsemble_Prob, VEGsemble Q, Golden Ratio, VEGsemble, Avg, smoothPtsT, AdjAvg, histAdjAvg, Floor, Ceiling]
Index: []

In [14]:
Q="Q1"

# Filter rows where "VEGsemble Q" is "Q1" in df_calcuttaNATOR
df_calcuttaNATOR_Q = df_calcuttaNATOR[df_calcuttaNATOR['VEGsemble Q'] == Q]

# Display the first few rows
display(df_calcuttaNATOR_Q)

,Seed,Team,VEGsemble_Prob Rank,VEGsemble_Prob,VEGsemble Q,Golden Ratio,VEGsemble,Avg,smoothPtsT,AdjAvg,histAdjAvg,Floor,Ceiling
0,1,Duke,1.0,0.771885,Q1,20,30,26.0,-4.194318,21.805682,21.697658,21.697658,43.395316
1,1,Auburn,2.0,0.710557,Q1,20,20,20.0,-4.194318,15.805682,15.727382,15.727382,31.454763
2,1,Florida,3.0,0.709526,Q1,30,42,37.2,-4.194318,33.005682,32.842174,32.842174,65.684349
3,1,Houston,7.0,0.623961,Q1,42,6,20.4,-4.194318,16.205682,16.125400,16.125400,32.250800
4,2,Tennessee,4.0,0.665557,Q1,12,6,8.4,-5.402500,2.997500,2.982651,2.982651,5.965301
5,2,Alabama,5.0,0.630153,Q1,12,12,12.0,-5.402500,6.597500,6.564817,6.564817,13.129633
9,3,Texas Tech,6.0,0.629669,Q1,13,12,12.4,-0.504773,11.895227,11.836299,11.836299,23.672599
10,3,Wisconsin,9.0,0.318669,Q1,6,2,3.6,-0.504773,3.095227,3.079894,3.079894,6.159788
13,4,Arizona,8.0,0.404937,Q1,6,6,6.0,-0.214091,5.785909,5.757246,5.757246,11.514492

In [15]:
# Convert to csv

df_calcuttaNATOR.to_csv("../L2/data/calcuttaNATOR_L2.csv")

In [16]:
# Define a list of teams you want to look up
teams_to_lookup = ["BYU", "Arkansas", "Louisville", "Baylor", "Arizona", "UCLA", "Texas A&M", "New Mexico", "Xavier"]  # Replace with actual team names

In [17]:
from IPython.display import display, Markdown

# Display the title
display(Markdown("## ðŸš€ðŸš€ðŸš€ CalcuttaNATOR ðŸš€ðŸš€ðŸš€"))

# Filter the DataFrame to get rows corresponding to the selected teams
team_rows = df_calcuttaNATOR[df_calcuttaNATOR['Team'].isin(teams_to_lookup)]

# Display the result
display(team_rows)

# Count the number of non-null values in the "Team" column
team_count = df_drafted['Team'].count()

# Ensure Team names are stripped and of string type
df_calcuttaNATOR['Team'] = df_calcuttaNATOR['Team'].astype(str).str.strip()
df_drafted['Team'] = df_drafted['Team'].astype(str).str.strip()

# Drop duplicates to prevent double counting
df_calcuttaNATOR = df_calcuttaNATOR.drop_duplicates(subset=['Team'], keep='first')

# Fill NaN values in histAdjAvg
df_calcuttaNATOR['histAdjAvg'] = df_calcuttaNATOR['histAdjAvg'].fillna(0)

# Compute initial total sum of histAdjAvg
total_histAdjAvg = df_calcuttaNATOR['histAdjAvg'].sum()

# Remove drafted teams
df_remaining = df_calcuttaNATOR[~df_calcuttaNATOR['Team'].isin(df_drafted['Team'])].copy()

# Compute new total sum
remaining_histAdjAvg = df_remaining['histAdjAvg'].sum()
remaining_percentage = (remaining_histAdjAvg / total_histAdjAvg) * 100

# Print results
print(f"ðŸ“Š Total Teams Drafted: {df_drafted.shape[0]}")
print(f"âœ… Number of teams removed: {df_calcuttaNATOR.shape[0] - df_remaining.shape[0]}")
print(f"ðŸ“Š Total histAdjAvg Before Draft: {total_histAdjAvg:,.2f}")
print(f"ðŸš€ Total histAdjAvg After Draft: {remaining_histAdjAvg:,.2f}")
print(f"ðŸ“‰ Remaining histAdjAvg as % of Original: {remaining_percentage:.2f}%")

## ðŸš€ðŸš€ðŸš€ CalcuttaNATOR ðŸš€ðŸš€ðŸš€

,Seed,Team,VEGsemble_Prob Rank,VEGsemble_Prob,VEGsemble Q,Golden Ratio,VEGsemble,Avg,smoothPtsT,AdjAvg,histAdjAvg,Floor,Ceiling
13,4,Arizona,8.0,0.404937,Q1,6,6,6.0,-0.214091,5.785909,5.757246,5.757246,11.514492
15,4,Texas A&M,19.0,0.150479,Q3,6,6,6.0,-0.214091,5.785909,5.757246,5.757246,11.514492
20,6,BYU,26.0,0.107632,Q3,0,9,5.4,-1.074545,4.325455,4.304027,4.304027,8.608053
27,7,UCLA,20.0,0.148384,Q3,2,2,2.0,3.716364,5.716364,5.688045,5.688045,11.376090
29,8,Louisville,17.0,0.159437,Q2,0,2,1.2,3.085000,4.285000,4.263772,4.263772,8.527545
33,9,Baylor,47.0,0.037426,Q6,3,3,3.0,1.924545,4.924545,4.900150,4.900150,9.800299
36,10,Arkansas,39.0,0.059081,Q5,0,17,10.2,0.401304,10.601304,10.548786,10.548786,21.097573
38,10,New Mexico,42.0,0.050098,Q5,0,5,3.0,0.401304,3.401304,3.384455,3.384455,6.768909
45,11,Xavier,32.0,0.071927,Q4,1,1,1.0,3.981311,4.981311,4.956634,4.956634,9.913269

ðŸ“Š Total Teams Drafted: 56
âœ… Number of teams removed: 55
ðŸ“Š Total histAdjAvg Before Draft: 324.83
ðŸš€ Total histAdjAvg After Draft: 23.43
ðŸ“‰ Remaining histAdjAvg as % of Original: 7.21%