In [1]:
#merging data sources to the Golden Ratio

In [2]:
# import lib
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from IPython.display import display

In [3]:
df_goldenRatio = pd.read_csv('data/tourneyTeams_L1.csv')
df_powerRank = pd.read_csv('data/powerRank_L1.csv')
df_kenPom = pd.read_csv('data/kenPom_L1.csv')
df_espnBPI = pd.read_csv('data/espnBPI_L1.csv')
df_lrmcB = pd.read_csv('data/lrmcB_L1.csv')
df_lrmcC = pd.read_csv('data/lrmcC_L1.csv')

display(df_goldenRatio.head(5))
display(df_goldenRatio.info())

display(df_powerRank.info())
display(df_kenPom.info())
display(df_espnBPI.info())
display(df_lrmcB.info())
display(df_lrmcC.info())

   Unnamed: 0  Seed       Team  Index
0           0     1       Duke   6074
1           1     1     Auburn   6017
2           2     1    Florida   6087
3           3     1    Houston   6115
4           4     2  Tennessee   6292

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 68 entries, 0 to 67
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  68 non-null     int64
 1   Seed        68 non-null     int64
 2   Team        68 non-null     object
 3   Index       68 non-null     int64
dtypes: int64(3), object(1)
memory usage: 2.3+ KB

None

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 365 entries, 0 to 364
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Unnamed: 0      365 non-null    int64
 1   PowerRank Rank  365 non-null    int64
 2   Team            365 non-null    object
 3   Index           298 non-null    float64
dtypes: float64(1), int64(2), object(1)
memory usage: 11.5+ KB

None

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 364 entries, 0 to 363
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Unnamed: 0   364 non-null    int64
 1   Team         364 non-null    object
 2   KenPom Rank  364 non-null    float64
 3   Index        262 non-null    float64
dtypes: float64(2), int64(1), object(1)
memory usage: 11.5+ KB

None

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 68 entries, 0 to 67
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  68 non-null     int64
 1   Team        68 non-null     object
 2   BPI Rank    68 non-null     float64
 3   Index       68 non-null     int64
dtypes: float64(1), int64(2), object(1)
memory usage: 2.3+ KB

None

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 363 entries, 0 to 362
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Unnamed: 0   363 non-null    int64
 1   Team         363 non-null    object
 2   LRMC B Rank  363 non-null    float64
 3   Index        236 non-null    float64
dtypes: float64(2), int64(1), object(1)
memory usage: 11.5+ KB

None

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 363 entries, 0 to 362
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Unnamed: 0   363 non-null    int64
 1   Team         363 non-null    object
 2   LRMC C Rank  363 non-null    float64
 3   Index        236 non-null    float64
dtypes: float64(2), int64(1), object(1)
memory usage: 11.5+ KB

None

In [4]:
df_goldenRatio = df_goldenRatio.drop(columns=['Unnamed: 0'])
df_powerRank = df_powerRank.drop(columns=['Unnamed: 0'])
df_kenPom = df_kenPom.drop(columns=['Unnamed: 0'])
df_espnBPI = df_espnBPI.drop(columns=['Unnamed: 0'])
df_lrmcB = df_lrmcB.drop(columns=['Unnamed: 0'])
df_lrmcC = df_lrmcC.drop(columns=['Unnamed: 0'])

In [5]:
df_goldenRatio = df_goldenRatio.merge(df_powerRank, on='Index', how='left')
df_goldenRatio = df_goldenRatio.merge(df_kenPom, on='Index', how='left')
df_goldenRatio = df_goldenRatio.merge(df_lrmcB, on='Index', how='left', suffixes=('', '_lrmcB'))
df_goldenRatio = df_goldenRatio.merge(df_espnBPI, on='Index', how='left', suffixes=('', '_espnBPI'))
df_goldenRatio = df_goldenRatio.merge(df_lrmcC, on='Index', how='left', suffixes=('', '_lrmcC'))

display(df_goldenRatio.head(50))
display(df_goldenRatio.info())

,Seed,Team_x,Index,PowerRank Rank,Team_y,Team,KenPom Rank,Team_lrmcB,LRMC B Rank,Team_espnBPI,BPI Rank,Team_lrmcC,LRMC C Rank
0,1,Duke,6074,2,Duke,Duke,1.0,Duke,1.0,Duke,1.0,Duke,1.0
1,1,Auburn,6017,3,Auburn,Auburn,4.0,Auburn,3.0,Auburn,3.0,Auburn,4.0
2,1,Florida,6087,1,Florida,Florida,2.0,Florida,2.0,Florida,4.0,Florida,3.0
3,1,Houston,6115,4,Houston,Houston,3.0,Houston,4.0,Houston,2.0,Houston,2.0
4,2,Tennessee,6292,5,Tennessee,Tennessee,5.0,Tennessee,6.0,Tennessee,5.0,Tennessee,9.0
5,2,Alabama,6004,6,Alabama,Alabama,6.0,Alabama,7.0,Alabama,6.0,Alabama,10.0
6,2,St. John's,6284,7,St. John’s,St. John's,11.0,St John's,9.0,St. John's,12.0,St John's,6.0
7,2,Michigan State,6172,8,Michigan State,Michigan St.,8.0,Michigan St.,13.0,Michigan State,11.0,Michigan St.,12.0
8,3,Iowa State,6128,10,Iowa State,Iowa St.,10.0,Iowa St.,8.0,Iowa State,7.0,Iowa St.,5.0
9,3,Texas Tech,6301,14,Texas Tech,Texas Tech,7.0,Texas Tech,10.0,Texas Tech,8.0,Texas Tech,8.0
10,3,Wisconsin,6347,12,Wisconsin,Wisconsin,13.0,Wisconsin,12.0,Wisconsin,18.0,Wisconsin,14.0
11,3,Kentucky,6139,15,Kentucky,Kentucky,16.0,Kentucky,15.0,Kentucky,17.0,Kentucky,24.0
12,4,Maryland,6162,11,Maryland,Maryland,12.0,Maryland,11.0,Maryland,13.0,Maryland,13.0
13,4,Arizona,6011,17,Arizona,Arizona,14.0,Arizona,14.0,Arizona,9.0,Arizona,11.0
14,4,Purdue,6241,20,Purdue,Purdue,19.0,Purdue,20.0,Purdue,21.0,Purdue,19.0
15,4,Texas A&M,6297,16,Texas A&M,Texas A&M,17.0,Texas A&M,23.0,Texas A&M,22.0,Texas A&M,31.0
16,5,Clemson,6049,18,Clemson,Clemson,18.0,Clemson,18.0,Clemson,15.0,Clemson,20.0
17,5,Oregon,6228,27,Oregon,Oregon,31.0,Oregon,38.0,Oregon,36.0,Oregon,40.0
18,5,Memphis,6166,31,Memphis,Memphis,51.0,Memphis,37.0,Memphis,46.0,Memphis,43.0
19,5,Michigan,6171,24,Michigan,Michigan,25.0,Michigan,26.0,Michigan,29.0,Michigan,22.0
20,6,BYU,6034,28,Brigham Young,BYU,24.0,BYU,21.0,BYU,24.0,BYU,21.0
21,6,Missouri,6178,13,Missouri,Missouri,15.0,Missouri,16.0,Missouri,31.0,Missouri,17.0
22,6,Mississippi,6176,23,Mississippi,Mississippi,26.0,Mississippi,27.0,Mississippi,32.0,Mississippi,33.0
23,6,Illinois,6120,25,Illinois,Illinois,20.0,Illinois,22.0,Illinois,23.0,Illinois,23.0
24,7,Kansas,6134,19,Kansas,Kansas,21.0,Kansas,17.0,Kansas,14.0,Kansas,15.0
25,7,Saint Mary's,6255,22,St. Mary’s,Saint Mary's,22.0,St Mary's CA,24.0,Saint Mary's,30.0,St Mary's CA,25.0
26,7,Marquette,6160,21,Marquette,Marquette,28.0,Marquette,19.0,Marquette,20.0,Marquette,18.0
27,7,UCLA,6313,30,UCLA,UCLA,27.0,UCLA,30.0,UCLA,27.0,UCLA,30.0
28,8,Connecticut,6057,26,Connecticut,Connecticut,35.0,Connecticut,28.0,Connecticut,16.0,Connecticut,28.0
29,8,Louisville,6152,29,Louisville,Louisville,23.0,Louisville,25.0,Louisville,28.0,Louisville,16.0
30,8,Mississippi State,6177,34,Mississippi State,Mississippi St.,32.0,Mississippi St.,35.0,Mississippi State,35.0,Mississippi St.,35.0
31,8,Gonzaga,6104,9,Gonzaga,Gonzaga,9.0,Gonzaga,5.0,Gonzaga,10.0,Gonzaga,7.0
32,9,Oklahoma,6223,38,Oklahoma,Oklahoma,38.0,Oklahoma,46.0,Oklahoma,43.0,Oklahoma,54.0
33,9,Baylor,6020,35,Baylor,Baylor,29.0,Baylor,34.0,Baylor,19.0,Baylor,29.0
34,9,Creighton,6060,32,Creighton,Creighton,37.0,Creighton,36.0,Creighton,26.0,Creighton,26.0
35,9,Georgia,6100,37,Georgia,Georgia,34.0,Georgia,40.0,Georgia,38.0,Georgia,37.0
36,10,Arkansas,6014,39,Arkansas,Arkansas,40.0,Arkansas,41.0,Arkansas,42.0,Arkansas,38.0
37,10,Vanderbilt,6327,47,Vanderbilt,Vanderbilt,49.0,Vanderbilt,54.0,Vanderbilt,56.0,Vanderbilt,56.0
38,10,New Mexico,6198,33,New Mexico,New Mexico,41.0,New Mexico,31.0,New Mexico,49.0,New Mexico,41.0
39,10,Utah State,6321,51,Utah State,Utah St.,52.0,Utah St.,47.0,Utah State,44.0,Utah St.,63.0
40,11,North Carolina,6206,42,North Carolina,North Carolina,33.0,North Carolina,33.0,North Carolina,25.0,North Carolina,27.0
41,11,Drake,6072,54,Drake,Drake,58.0,Drake,62.0,Drake,73.0,Drake,92.0
42,11,San Diego State,6260,41,San Diego State,San Diego St.,46.0,San Diego St.,48.0,San Diego State,54.0,San Diego St.,62.0
43,11,VCU,6328,36,VCU,VCU,30.0,VCU,29.0,VCU,34.0,VCU,34.0
44,11,Texas,6296,45,Texas,Texas,44.0,Texas,45.0,Texas,33.0,Texas,50.0
45,11,Xavier,6351,40,Xavier,Xavier,43.0,Xavier,39.0,Xavier,39.0,Xavier,32.0
46,12,UC San Diego,6354,43,UC San Diego,UC San Diego,36.0,UC San Diego,32.0,UC San Diego,57.0,UC San Diego,64.0
47,12,UC San Diego,6354,43,UC San Diego,Texas A&M Corpus Chris,160.0,UC San Diego,32.0,UC San Diego,57.0,UC San Diego,64.0
48,12,Colorado State,6055,50,Colorado State,Colorado State,42.0,Colorado St.,44.0,Colorado State,53.0,Colorado St.,46.0
49,12,Liberty,6144,58,Liberty,Liberty,62.0,Liberty,55.0,Liberty,85.0,Liberty,96.0

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 70 entries, 0 to 69
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Seed            70 non-null     int64
 1   Team_x          70 non-null     object
 2   Index           70 non-null     int64
 3   PowerRank Rank  70 non-null     int64
 4   Team_y          70 non-null     object
 5   Team            70 non-null     object
 6   KenPom Rank     70 non-null     float64
 7   Team_lrmcB      70 non-null     object
 8   LRMC B Rank     70 non-null     float64
 9   Team_espnBPI    70 non-null     object
 10  BPI Rank        70 non-null     float64
 11  Team_lrmcC      70 non-null     object
 12  LRMC C Rank     70 non-null     float64
dtypes: float64(4), int64(3), object(6)
memory usage: 7.2+ KB

None

In [6]:
df_goldenRatio['Golden Ratio'] = None  # Initialize with NaN or any default value

# Define the weights for each ranking system
weights = {
    'PowerRank Rank': 0.3865,
    'KenPom Rank': 0.3865,
    'BPI Rank': 0.1534,
    'LRMC B Rank': 0.0368,
    'LRMC C Rank': 0.0368
}

# Compute the weighted sum of available rankings (ignoring NaNs)
df_goldenRatio['Golden Ratio'] = df_goldenRatio[list(weights.keys())].mul(weights).sum(axis=1) / df_goldenRatio[list(weights.keys())].notna().mul(weights).sum(axis=1)

df_goldenRatio = df_goldenRatio.sort_values(by='Team').reset_index(drop=True)

# Display the result
display(df_goldenRatio.head())

,Seed,Team_x,Index,PowerRank Rank,Team_y,Team,KenPom Rank,Team_lrmcB,LRMC B Rank,Team_espnBPI,BPI Rank,Team_lrmcC,LRMC C Rank,Golden Ratio
0,13,Akron,6003,98,Akron,Akron,99.0,Akron,90.0,Akron,112.0,Akron,112.0,100.7549
1,2,Alabama,6004,6,Alabama,Alabama,6.0,Alabama,7.0,Alabama,6.0,Alabama,10.0,6.1840
2,16,Alabama State,6006,267,Alabama State,Alabama State,273.0,Alabama St.,231.0,Alabama State,275.0,Alabama St.,282.0,269.7734
3,16,American,6009,239,American,American,237.0,American,234.0,American,227.0,American,249.0,236.5702
4,4,Arizona,6011,17,Arizona,Arizona,14.0,Arizona,14.0,Arizona,9.0,Arizona,11.0,14.2821

In [7]:
# Drop the unwanted columns related to duplicate "Team" entries
df_goldenRatio = df_goldenRatio.drop(columns=['Team','Team_y','Team_lrmcB', 'Team_espnBPI', 'Team_lrmcC'], errors='ignore')

# Reorder columns to make "Team" the second column
columns = list(df_goldenRatio.columns)
columns.remove('Team_x')  # Remove "Team" from its current position
columns.insert(1, 'Team_x')  # Insert "Team" as the second column

# Reassign DataFrame with the new column order
df_goldenRatio = df_goldenRatio[columns]

# Rename "Team_x" to "Team"
df_goldenRatio.rename(columns={'Team_x': 'Team'}, inplace=True)

# Display the updated DataFrame
display(df_goldenRatio.head(100))

,Seed,Team,Index,PowerRank Rank,KenPom Rank,LRMC B Rank,BPI Rank,LRMC C Rank,Golden Ratio
0,13,Akron,6003,98,99.0,90.0,112.0,112.0,100.7549
1,2,Alabama,6004,6,6.0,7.0,6.0,10.0,6.1840
2,16,Alabama State,6006,267,273.0,231.0,275.0,282.0,269.7734
3,16,American,6009,239,237.0,234.0,227.0,249.0,236.5702
4,4,Arizona,6011,17,14.0,14.0,9.0,11.0,14.2821
...,...,...,...,...,...,...,...,...,...
65,10,Vanderbilt,6327,47,49.0,54.0,56.0,56.0,49.7424
66,3,Wisconsin,6347,12,13.0,12.0,18.0,14.0,13.3805
67,15,Wofford,6348,135,120.0,123.0,139.0,162.0,130.3681
68,11,Xavier,6351,40,43.0,39.0,39.0,32.0,40.6749
69,13,Yale,6352,68,73.0,67.0,68.0,109.0,71.4045

In [8]:
# Filter rows where "PowerRank Rank" is NaN in df_goldenRatio
df_goldenRatio_nan_Rank = df_goldenRatio[df_goldenRatio['PowerRank Rank'].isna()]
display(df_goldenRatio_nan_Rank)

Empty DataFrame
Columns: [Seed, Team, Index, PowerRank Rank, KenPom Rank, LRMC B Rank, BPI Rank, LRMC C Rank, Golden Ratio]
Index: []

In [9]:
# Convert to csv

df_goldenRatio.to_csv("../L2/data/goldenRatio_L2.csv")