In [1]:
#grab annual lrmcB file

In [2]:
# import lib
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from IPython.display import display

In [3]:
df_actualsSmoother = pd.read_csv('data/actualsSmoother_L0.csv')

display(df_actualsSmoother.head(5))
display(df_actualsSmoother.info())

   2024      Unnamed: 1 Unnamed: 2 Unnamed: 3 Unnamed: 4
0  Seed            Team      Index  Projected     Actual
1     1     Connecticut       6057          6         42
2     1         Houston       6115       14.4          6
3     1  North Carolina       6206        9.6          6
4     1          Purdue       6241         30         30

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 688 entries, 0 to 687
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   2024        685 non-null    object
 1   Unnamed: 1  686 non-null    object
 2   Unnamed: 2  126 non-null    object
 3   Unnamed: 3  685 non-null    object
 4   Unnamed: 4  684 non-null    object
dtypes: object(5)
memory usage: 27.0+ KB

None

In [4]:
df_actualsSmoother.columns = df_actualsSmoother.iloc[0]  # Set the first row as column names
df_actualsSmoother = df_actualsSmoother[1:].reset_index(drop=True)  # Remove the first row and reset index

df_actualsSmoother[['Seed', 'Index', 'Actual']] = df_actualsSmoother[['Seed', 'Index', 'Actual']].apply(pd.to_numeric, errors='coerce').astype('Int64')
df_actualsSmoother['Projected'] = pd.to_numeric(df_actualsSmoother['Projected'], errors='coerce')

display(df_actualsSmoother.head(5))
display(df_actualsSmoother.info())

0  Seed            Team  Index  Projected  Actual
0     1     Connecticut   6057        6.0      42
1     1         Houston   6115       14.4       6
2     1  North Carolina   6206        9.6       6
3     1          Purdue   6241       30.0      30
4     2      Iowa State   6128       12.0       6

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 687 entries, 0 to 686
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Seed       682 non-null    Int64
 1   Team       685 non-null    object
 2   Index      124 non-null    Int64
 3   Projected  682 non-null    float64
 4   Actual     681 non-null    Int64
dtypes: Int64(3), float64(1), object(1)
memory usage: 29.0+ KB

None

In [5]:
# Convert to csv

df_actualsSmoother.to_csv("../L1/data/actualsSmoother_L1.csv")