In [1]:
#grab annual lrmcB file

In [2]:
# import lib
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from IPython.display import display

In [3]:
df_calcuttaValueHistory = pd.read_csv('data/calcuttaValueHistory_L0.csv')

display(df_calcuttaValueHistory.head(5))
display(df_calcuttaValueHistory.info())

,Unnamed: 0,Entrants,Winning Pts,Winning Cash,Win $/Pt,$/Pt/Entrant,Total Points,Total Cash,$/Pt,$/Pt/Entrant.1
0,2006,6,81,$100.00,$1.23,$0.21,359,$582.00,$1.62,$0.27
1,2007,8,60,$98.00,$1.63,$0.20,269,$788.00,$2.93,$0.37
2,2008,7,70,$99.00,$1.41,$0.20,304,$662.00,$2.18,$0.31
3,2009,9,69,$97.00,$1.41,$0.16,293,$844.00,$2.88,$0.32
4,2010,7,85,$100.00,$1.18,$0.17,329,$697.00,$2.12,$0.30

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18 entries, 0 to 17
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Unnamed: 0      18 non-null     int64
 1   Entrants        18 non-null     int64
 2   Winning Pts     18 non-null     int64
 3   Winning Cash    18 non-null     object
 4   Win $/Pt        18 non-null     object
 5   $/Pt/Entrant    18 non-null     object
 6   Total Points    18 non-null     int64
 7   Total Cash      18 non-null     object
 8   $/Pt            18 non-null     object
 9   $/Pt/Entrant.1  18 non-null     object
dtypes: int64(4), object(6)
memory usage: 1.5+ KB

None

In [4]:
# List of columns that should remain as integers
int_columns = ['Unnamed: 0', 'Entrants', 'Winning Pts', 'Total Points']

# Convert all other columns to float after removing any dollar signs or commas
for col in df_calcuttaValueHistory.columns:
    if col not in int_columns:
        df_calcuttaValueHistory[col] = df_calcuttaValueHistory[col].replace('[\$,]', '', regex=True).astype(float)


df_calcuttaValueHistory.rename(columns={'Unnamed: 0': 'Year'}, inplace=True)

display(df_calcuttaValueHistory.head(25))
display(df_calcuttaValueHistory.info())

<>:7: SyntaxWarning: invalid escape sequence '\$'
<>:7: SyntaxWarning: invalid escape sequence '\$'
/var/folders/tf/g610wvrs7wx6xsw1mnjlx2g00000gn/T/ipykernel_4754/3352960717.py:7: SyntaxWarning: invalid escape sequence '\$'
  df_calcuttaValueHistory[col] = df_calcuttaValueHistory[col].replace('[\$,]', '', regex=True).astype(float)

,Year,Entrants,Winning Pts,Winning Cash,Win $/Pt,$/Pt/Entrant,Total Points,Total Cash,$/Pt,$/Pt/Entrant.1
0,2006,6,81,100.0,1.23,0.21,359,582.0,1.62,0.27
1,2007,8,60,98.0,1.63,0.20,269,788.0,2.93,0.37
2,2008,7,70,99.0,1.41,0.20,304,662.0,2.18,0.31
3,2009,9,69,97.0,1.41,0.16,293,844.0,2.88,0.32
4,2010,7,85,100.0,1.18,0.17,329,697.0,2.12,0.30
5,2011,8,112,79.0,0.71,0.09,340,761.0,2.24,0.28
6,2012,7,73,96.0,1.32,0.19,329,678.0,2.06,0.29
7,2013,7,90,100.0,1.11,0.16,346,675.0,1.95,0.28
8,2014,6,104,97.0,0.93,0.16,353,588.0,1.67,0.28
9,2015,7,61,100.0,1.64,0.23,302,697.0,2.31,0.33
10,2016,8,87,63.0,0.72,0.09,335,761.0,2.27,0.28
11,2017,8,77,97.0,1.26,0.16,291,776.0,2.67,0.33
12,2018,10,100,100.0,1.00,0.10,320,980.0,3.06,0.31
13,2019,7,78,93.0,1.19,0.17,304,645.0,2.12,0.30
14,2021,9,78,100.0,1.28,0.14,369,891.0,2.41,0.27
15,2022,7,107,100.0,0.93,0.13,360,692.0,1.92,0.27
16,2023,7,70,100.0,1.43,0.20,320,700.0,2.19,0.31
17,2024,6,112,100.0,0.89,0.15,324,600.0,1.85,0.31

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18 entries, 0 to 17
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Year            18 non-null     int64
 1   Entrants        18 non-null     int64
 2   Winning Pts     18 non-null     int64
 3   Winning Cash    18 non-null     float64
 4   Win $/Pt        18 non-null     float64
 5   $/Pt/Entrant    18 non-null     float64
 6   Total Points    18 non-null     int64
 7   Total Cash      18 non-null     float64
 8   $/Pt            18 non-null     float64
 9   $/Pt/Entrant.1  18 non-null     float64
dtypes: float64(6), int64(4)
memory usage: 1.5 KB

None

In [5]:
# Convert to csv

df_calcuttaValueHistory.to_csv("../L1/data/calcuttaValueHistory_L1.csv")