In [1]:
#analyze file
#grabbed kenPom data from 2014-24 (no 20 / covid)
#looking for correlations in column fields that would predict the elite 8 flag

In [2]:
# import lib
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from IPython.display import display

In [3]:
df_kenPom = pd.read_csv('data/kenPom_L0.csv')

df_teamsIndex = pd.read_csv('../L1/data/teamsIndex_L1.csv')

display(df_kenPom.head(5))
display(df_kenPom.info())

,Rk,Team,Elite 8,Seed,Conf,W,L,NetRtg,ORtg,r,...,Luck,r.3,SoSNetRtg,r.4,SoSORtg,r.5,SoSDRtg,r.6,ConfSoSNetRtg,r.7
0,1,Duke 1,NaN,NaN,ACC,31,3.0,38.16,128,3,...,-0.019,229,10.03,56.0,112.4,48.0,102.4,63.0,9.31,21.0
1,2,Florida 1,NaN,NaN,SEC,30,4.0,36.16,128.6,1,...,0.007,159,14.42,17.0,114.5,17.0,100.0,19.0,-2.02,234.0
2,3,Houston 1,NaN,NaN,B12,30,4.0,35.44,123.2,10,...,0.015,137,13.66,24.0,113.5,34.0,99.9,17.0,2.56,100.0
3,4,Auburn 1,NaN,NaN,SEC,28,5.0,35.05,128.4,2,...,0.03,100,18.97,2.0,117.1,2.0,98.1,2.0,10.08,19.0
4,5,Tennessee 2,NaN,NaN,SEC,27,7.0,31.15,120.3,18,...,0.016,134,15.95,6.0,116.6,4.0,100.7,32.0,-0.88,202.0

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 382 entries, 0 to 381
Data columns (total 24 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Rk             373 non-null    object
 1   Team           373 non-null    object
 2   Elite 8        0 non-null      float64
 3   Seed           0 non-null      float64
 4   Conf           373 non-null    object
 5   W              373 non-null    object
 6   L              40 non-null     float64
 7   NetRtg         373 non-null    object
 8   ORtg           373 non-null    object
 9   r              382 non-null    object
 10  DRtg           382 non-null    object
 11  r.1            373 non-null    object
 12  AdjT           373 non-null    object
 13  r.2            373 non-null    object
 14  Luck           373 non-null    object
 15  r.3            373 non-null    object
 16  SoSNetRtg      364 non-null    float64
 17  r.4            364 non-null    float64
 18  SoSORtg        364 non-null    float64
 19  r.5            364 non-null    float64
 20  SoSDRtg        364 non-null    float64
 21  r.6            364 non-null    float64
 22  ConfSoSNetRtg  364 non-null    float64
 23  r.7            364 non-null    float64
dtypes: float64(11), object(13)
memory usage: 71.8+ KB

None

In [4]:
# Rename column
df_kenPom.rename(columns={'Rk': 'KenPom Rank'}, inplace=True)

# Keep only the relevant columns
df_kenPom = df_kenPom[['Team', 'KenPom Rank']]

# Drop any non-numeric rows (e.g., header row mistakenly included)
df_kenPom = df_kenPom[df_kenPom['KenPom Rank'].str.match(r'^\d+(\.\d+)?$', na=False)]

# Strip spaces and convert "KenPom Rank" to float
df_kenPom['KenPom Rank'] = df_kenPom['KenPom Rank'].astype(str).str.strip().astype(float)

import re

# Remove any numeric characters from "Team"
df_kenPom['Team'] = df_kenPom['Team'].apply(lambda x: re.sub(r'\d+', '', x).strip())

# Display results
display(df_kenPom.head(5))
display(df_kenPom.info())

        Team  KenPom Rank
0       Duke          1.0
1    Florida          2.0
2    Houston          3.0
3     Auburn          4.0
4  Tennessee          5.0

<class 'pandas.core.frame.DataFrame'>
Index: 364 entries, 0 to 381
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Team         364 non-null    object
 1   KenPom Rank  364 non-null    float64
dtypes: float64(1), object(1)
memory usage: 8.5+ KB

None

In [5]:
# Perform a left join on "Team"
df_kenPom = df_kenPom.merge(df_teamsIndex, on='Team', how='left')

df_kenPom = df_kenPom.drop(columns=['Unnamed: 0'])

# Display the first few rows to verify
print(df_kenPom.head(5))

        Team  KenPom Rank   Index
0       Duke          1.0  6074.0
1    Florida          2.0  6087.0
2    Houston          3.0  6115.0
3     Auburn          4.0  6017.0
4  Tennessee          5.0  6292.0

In [6]:
# Convert to csv

df_kenPom.to_csv("../L1/data/kenPom_L1.csv")