In [1]:
#just cleaning teams

In [2]:
# import lib
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from IPython.display import display

In [3]:
df_tourneyTeams = pd.read_csv('data/tourneyTeams_L0.csv')

df_teamsIndex = pd.read_csv('../L1/data/teamsIndex_L1.csv')

display(df_tourneyTeams.head(5))
display(df_tourneyTeams.info())

df_tourneyTeams.to_csv("../L1/data/calcuttaNATOR_L1.csv")

   Seed       Team  Golden Ratio  VEGsemble
0     1       Duke            20         30
1     1     Auburn            20         20
2     1    Florida            30         42
3     1    Houston            42          6
4     2  Tennessee            12          6

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 68 entries, 0 to 67
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Seed          68 non-null     int64
 1   Team          68 non-null     object
 2   Golden Ratio  68 non-null     int64
 3   VEGsemble     68 non-null     int64
dtypes: int64(3), object(1)
memory usage: 2.3+ KB

None

In [4]:
df_tourneyTeams = df_tourneyTeams.drop(columns=['Golden Ratio', 'VEGsemble'])
display(df_tourneyTeams.head(5))
display(df_tourneyTeams.info())

   Seed       Team
0     1       Duke
1     1     Auburn
2     1    Florida
3     1    Houston
4     2  Tennessee

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 68 entries, 0 to 67
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Seed    68 non-null     int64
 1   Team    68 non-null     object
dtypes: int64(1), object(1)
memory usage: 1.2+ KB

None

In [5]:
# Perform a left join on "Team"
df_tourneyTeams = df_tourneyTeams.merge(df_teamsIndex, on='Team', how='left')

df_tourneyTeams = df_tourneyTeams.drop(columns=['Unnamed: 0'])

# Display the first few rows to verify
print(df_tourneyTeams.head())

   Seed       Team  Index
0     1       Duke   6074
1     1     Auburn   6017
2     1    Florida   6087
3     1    Houston   6115
4     2  Tennessee   6292

In [6]:
# Filter rows where "Index" is NaN in df_lrmcC
df_tourneyTeams_nan_index = df_tourneyTeams[df_tourneyTeams['Index'].isna()]

# Display the filtered DataFrame
print(df_tourneyTeams_nan_index)

Empty DataFrame
Columns: [Seed, Team, Index]
Index: []

In [7]:
# Convert to csv

df_tourneyTeams.to_csv("../L1/data/tourneyTeams_L1.csv")