In [1]:
#analyze file
#grabbed vegas odds
#will use as a balancer with final probabilities

In [2]:
# import lib
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from IPython.display import display

In [3]:
df_vegas = pd.read_csv('data/vegasOdds_L0.csv')

display(df_vegas.head(5))
display(df_vegas.info())

   Rank       Team   Odds Implied Probability
0   1.0       Duke -280.0              73.68%
1   1.0    Florida -240.0              70.59%
2   1.0     Auburn -210.0              67.74%
3   1.0    Houston -145.0              59.18%
4   2.0  Tennessee  100.0              50.00%

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 68 entries, 0 to 67
Data columns (total 4 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Rank                 64 non-null     float64
 1   Team                 64 non-null     object
 2   Odds                 64 non-null     float64
 3   Implied Probability  64 non-null     object
dtypes: float64(2), object(2)
memory usage: 2.3+ KB

None

In [4]:
df_vegas = df_vegas.drop(columns=["Rank", "Odds"])

df_vegas["Implied Probability"] = df_vegas["Implied Probability"].str.rstrip('%').astype(float) / 100

In [5]:
df_vegas["Team"] = df_vegas["Team"].str.replace(r"\bState\b", "St.", regex=True)

In [6]:
df_vegas = df_vegas.rename(columns={"Implied Probability": "Vegas_Prob"})

In [7]:
display(df_vegas.head(25))
display(df_vegas.info())

            Team  Vegas_Prob
0           Duke      0.7368
1        Florida      0.7059
2         Auburn      0.6774
3        Houston      0.5918
4      Tennessee      0.5000
5        Alabama      0.4545
6     Texas Tech      0.4255
7   Michigan St.      0.4167
8      St. Johns      0.3226
9       Iowa St.      0.3125
10     Wisconsin      0.2500
11      Maryland      0.2174
12      Kentucky      0.2174
13           BYU      0.1905
14       Gonzaga      0.1905
15       Arizona      0.1818
16      Illinois      0.1739
17      Ole Miss      0.1667
18      Missouri      0.1667
19     Marquette      0.1667
20   Saint Marys      0.1667
21          UCLA      0.1538
22        Kansas      0.1538
23    Louisville      0.1429
24     Texas A&M      0.1333

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 68 entries, 0 to 67
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Team        64 non-null     object
 1   Vegas_Prob  64 non-null     float64
dtypes: float64(1), object(1)
memory usage: 1.2+ KB

None

In [8]:
# Convert to csv

df_vegas.to_csv("../L1/data/vegasOdds_L1.csv")